<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>crud.edit()[pri:0, instance:dependancy.crud@52954621]<br/>loginTest.login(java.lang.String, java.lang.String)[pri:0, instance:parameterization.loginTest@3003ad53]<br/>A2.test6()[pri:0, instance:annotations.A2@5b980c78]<br/>A3.test9()[pri:0, instance:assertions.A3@374f1544]<br/>A2.test5()[pri:0, instance:annotations.A2@5b980c78]<br/>A2.test4()[pri:0, instance:annotations.A2@5b980c78]<br/>A3.test8()[pri:0, instance:assertions.A3@374f1544]<br/>A1.test2()[pri:0, instance:annotations.A1@28325087]<br/>A1.test3()[pri:0, instance:annotations.A1@28325087]<br/></td></tr>
<tr><td>smoke</td><td>crud.create()[pri:0, instance:dependancy.crud@52954621]<br/>loginTest.login(java.lang.String, java.lang.String)[pri:0, instance:parameterization.loginTest@3003ad53]<br/>A2.test4()[pri:0, instance:annotations.A2@5b980c78]<br/>A3.test8()[pri:0, instance:assertions.A3@374f1544]<br/>A1.test3()[pri:0, instance:annotations.A1@28325087]<br/>crud.read()[pri:0, instance:dependancy.crud@52954621]<br/></td></tr>
</table>
