<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MyFirstSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93ac85">  <td>16/10/22 12:14:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="A2.test4()[pri:0, instance:annotations.A2@5b980c78]">test4</td> 
  <td>main@1178337686</td>   <td></td> </tr>
<tr bgcolor="93ac85">  <td>16/10/22 12:14:43</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="A2.test5()[pri:0, instance:annotations.A2@5b980c78]">test5</td> 
  <td>main@1178337686</td>   <td></td> </tr>
<tr bgcolor="93ac85">  <td>16/10/22 12:14:43</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="A2.test6()[pri:0, instance:annotations.A2@5b980c78]">test6</td> 
  <td>main@1178337686</td>   <td></td> </tr>
<tr bgcolor="eaedad">  <td>16/10/22 12:14:43</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="A1.test2()[pri:0, instance:annotations.A1@28325087]">test2</td> 
  <td>main@1178337686</td>   <td></td> </tr>
<tr bgcolor="eaedad">  <td>16/10/22 12:14:43</td>   <td>51</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="A1.test3()[pri:0, instance:annotations.A1@28325087]">test3</td> 
  <td>main@1178337686</td>   <td></td> </tr>
<tr bgcolor="b38d64">  <td>16/10/22 12:14:43</td>   <td>121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="A3.test8()[pri:0, instance:assertions.A3@374f1544]">test8</td> 
  <td>main@1178337686</td>   <td></td> </tr>
<tr bgcolor="b38d64">  <td>16/10/22 12:14:43</td>   <td>131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="A3.test9()[pri:0, instance:assertions.A3@374f1544]">test9</td> 
  <td>main@1178337686</td>   <td></td> </tr>
<tr bgcolor="687ea5">  <td>16/10/22 12:14:43</td>   <td>161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginTest.login(java.lang.String, java.lang.String)[pri:0, instance:parameterization.loginTest@3003ad53]">login</td> 
  <td>main@1178337686</td>   <td></td> </tr>
<tr bgcolor="687ea5">  <td>16/10/22 12:14:43</td>   <td>171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginTest.login(java.lang.String, java.lang.String)[pri:0, instance:parameterization.loginTest@3003ad53]">login</td> 
  <td>main@1178337686</td>   <td></td> </tr>
<tr bgcolor="687ea5">  <td>16/10/22 12:14:43</td>   <td>181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginTest.login(java.lang.String, java.lang.String)[pri:0, instance:parameterization.loginTest@3003ad53]">login</td> 
  <td>main@1178337686</td>   <td></td> </tr>
<tr bgcolor="687ea5">  <td>16/10/22 12:14:43</td>   <td>181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginTest.login(java.lang.String, java.lang.String)[pri:0, instance:parameterization.loginTest@3003ad53]">login</td> 
  <td>main@1178337686</td>   <td></td> </tr>
<tr bgcolor="687ea5">  <td>16/10/22 12:14:43</td>   <td>201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginTest.login(java.lang.String, java.lang.String)[pri:0, instance:parameterization.loginTest@3003ad53]">login</td> 
  <td>main@1178337686</td>   <td></td> </tr>
<tr bgcolor="7f89e1">  <td>16/10/22 12:14:43</td>   <td>221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="crud.create()[pri:0, instance:dependancy.crud@52954621]">create</td> 
  <td>main@1178337686</td>   <td></td> </tr>
</table>
